# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
venv/
ENV/
env/
.venv/
.python-version

# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
frontend/node_modules/

# Docker
*.log
*.env

# Tests
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/

yes
